<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital_Administration_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header class="container-fluid p-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="text-center my-2" id="Hospital_logo">
                <a href="#" id="Hospital"><i class="fa-solid fa-house-chimney-medical" style="color:#00bcd4;font-size: 30px; "></i> Hospital </a>
            </div>
            <div class="container">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"
                               href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="doctorsDropdown" data-bs-toggle="dropdown">Doctors</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Amera Mostafa</a></li>
                                <li><a class="dropdown-item" href="#">Rehab Emad</a></li>
                                <li><a class="dropdown-item" href="#">Alaa Yousy</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="departmentsDropdown" data-bs-toggle="dropdown">Departments</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Neurology</a></li>
                                <li><a class="dropdown-item" href="#">Dental</a></li>
                                <li><a class="dropdown-item" href="#">Cardiology</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Services" ? "active" : "")"
                               href="@Url.Action("Services","Home")">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Login", "Auth")'">Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="p-1">
        @RenderBody()
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2>GET IN TOUCH</h2>
                <p>No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor.</p>
                <p><i class="fa-solid fa-location-dot"></i> 123 Street, New York, USA</p>
                <p><i class="fa-solid fa-envelope"></i> mail@domain.com</p>
                <p><i class="fa-solid fa-phone"></i> +012 345 67890</p>
            </div>
            <div class="footer-section">
                <h2>QUICK LINKS</h2>
                <a href="Home"><i class="fa fa-chevron-circle-right"></i> Home</a>
                <a href="#"><i class="fa fa-chevron-circle-right"></i> About Us</a>
                <a href="#"><i class="fa fa-chevron-circle-right"></i> Our Doctors</a>
                <a href="#"><i class="fa fa-chevron-circle-right"></i> Our Services</a>
            </div>
            <div class="footer-section">
                <h2>SUPPORT</h2>
                <a href="#"><i class="fa fa-chevron-circle-right"></i> Documentation</a>
                <a href="#"><i class="fa fa-chevron-circle-right"></i> FAQs</a>
                <a href="#"><i class="fa fa-chevron-circle-right"></i> Forums</a>
                <a href="#"><i class="fa fa-chevron-circle-right"></i> Contact</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
